# 1. Hello, World!
ðŸ™‹

In [1]:
print("Hello, World!")
print("Hello Again")
print("I like typing this.")
print("This is fun.")
print('Yay! Printing.')
print("I'd much rather you 'not'.")
print('I "said" do not touch this.')

Hello, World!
Hello Again
I like typing this.
This is fun.
Yay! Printing.
I'd much rather you 'not'.
I "said" do not touch this.

# 2. Variables and Data Types

In [2]:
name = "Alice"
age = 25
height = 5.6  # in feet
is_student = True
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

Name: Alice
Age: 25
Height: 5.6
Is Student: True

# 3. Taking User Input

In [3]:

user_name = input("Enter your name: ")
print("Hello, " + user_name + "!")

Enter your name: kiran

# 4. Conditional Statements

In [4]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 60:
    print("You are an adult.")
else:
    print("You are a senior.")

Enter your age: 26
You are an adult.

# 5. Loops (For and While)

In [5]:
print("For loop: 1 to 5")
for i in range(1, 6):
    print(i)

print("While loop: 5 to 1")
num = 5
while num > 0:
    print(num)
    num -= 1

For loop: 1 to 5
1
2
3
4
5
While loop: 5 to 1
5
4
3
2
1

# 6. Functions

In [6]:
def greet(name):
    print("Hello, " + name + "!")

greet("Alice")
greet("Bob")

Hello, Alice!
Hello, Bob!

# 7. Lists

In [7]:

fruits = ["apple", "banana", "cherry"]
fruits.append("orange")  # Adding an item
print("Fruits list:")
for fruit in fruits:
    print(fruit)

Fruits list:
apple
banana
cherry
orange

# 8. Dictionaries

In [8]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print("Name from dictionary:", person["name"])
print("Age from dictionary:", person.get("age"))
person["job"] = "Engineer"  # Adding a new key-value pair
print("Updated person dictionary:", person)

Name from dictionary: Alice
Age from dictionary: 25
Updated person dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

# 9. Reading from and Writing to Files

In [9]:
# Writing to a text file
with open("example.txt", "w") as file:
    file.write("This is an example text file.")

# Reading from a text file
with open("example.txt", "r") as file:
    content = file.read()
    print("File Content:")
    print(content)

File Content:
This is an example text file.

# 10. Writing to and Reading from a CSV File

In [10]:
import csv

# Writing data to a CSV file
with open("data.csv", "w", newline="") as csvfile:
    writer = csv.writer(csvfile)
    # Writing the header
    writer.writerow(["Name", "Age", "City"])
    # Writing some data rows
    writer.writerow(["Alice", 25, "New York"])
    writer.writerow(["Bob", 30, "San Francisco"])
    writer.writerow(["Charlie", 22, "Los Angeles"])

print("CSV file 'data.csv' written successfully.")

CSV file 'data.csv' written successfully.

# Reading data from a CSV file

In [11]:
with open("data.csv", "r") as csvfile:
    reader = csv.reader(csvfile)
    print("CSV File Content:")
    for row in reader:
        print(row)

CSV File Content:
['Name', 'Age', 'City']
['Alice', '25', 'New York']
['Bob', '30', 'San Francisco']
['Charlie', '22', 'Los Angeles']

# 1. Load Iris Dataset into a DataFrame

In [12]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = iris.target

# 2. Basic Preprocessing

In [13]:
df.columns = ['Sepal Length (cm)', 'Sepal Width (cm)',
              'Petal Length (cm)', 'Petal Width (cm)', 'Species']
df['Species'] = df['Species'].replace({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

# 3. Check for Missing Values and Drop Duplicates

In [14]:
print("Missing Values:\n", df.isnull().sum())
df_unique = df.drop_duplicates()

Missing Values:
 Sepal Length (cm)    0
Sepal Width (cm)     0
Petal Length (cm)    0
Petal Width (cm)     0
Species              0
dtype: int64

# 4. Filter Rows (Sepal Length > 5.0 cm)

In [15]:
filtered_df = df_unique[df_unique['Sepal Length (cm)'] > 5.0]

# 5. Save Filtered Data to CSV

In [16]:
filtered_df.to_csv("filtered_iris.csv", index=False)
print("Filtered data saved to 'filtered_iris.csv'.")

Filtered data saved to 'filtered_iris.csv'.